<c-card>
  <c-card-header>
    <h5><b>Contacte</b></h5>
  </c-card-header>
  <c-card-body>
    <br />
    <c-smart-table
    #smartTable="cSmartTable"
    activePage="1"
    cleaner
    clickableRows
    [columnFilter]="true"
    [columnSorter]="true"
    [columns]="columns"
    header
    [itemsPerPageSelect]="true"
    [itemsPerPage]="30"
    [itemsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
    [items]="data"
    pagination
    selectable
    (selectedItemsChange)="onSelectedItemsChange($event)"
    [sorterValue]="{ column: 'firstname', state: 'asc' }"
    [tableBodyProps]="{ align: 'middle' }"
    [tableFilter]="true"
    [tableHeadProps]="{ color: 'dark' }"
    [tableProps]="{ hover: true, striped: true, responsive: true }"
    (rowClick)="onRowClick($event.item, $event)"
    [attr.data-instance-id]="'smart-table-1'"
    [selectAll]="false"
  ></c-smart-table>
  
  
  

    <app-contact-edit-modal
      *ngIf="selectedContact"
      [contact]="selectedContact"
      [isNew]="isNewContact"
      (closeModal)="isNewContact ? saveNewContact($event) : closeEditModal($event)"
      [attr.data-instance-id]="'contact-edit-modal-1'"
    ></app-contact-edit-modal>
  </c-card-body>
</c-card>

<!-- Floating Action Buttons -->
<div class="fab-container">
  <button class="fab" (click)="openNewContactModal()" aria-label="Add New Contact"><span>+</span></button>
  <button
    *ngIf="hasSelectedItems()"
    class="fab-action"
    (click)="performActionOnSelected()"
    aria-label="Perform Action on Selected">
    <span>✔</span>
  </button>
</div>
