<div>Welcome to home Route</div>

<br />
Is Authenticated: {{ isAuthenticated }}
<p style="word-wrap: break-word">{{ userToken$ | async | json }}</p>

<div *ngIf="lolz$ | async as ud">
    <pre>Email: {{ ud.email }}</pre>
    <pre>Name: {{ ud.name }}</pre>
    <pre>azp: {{ ud.azp }}</pre>
    <pre>resource_access: {{ ud.resource_access }}</pre>
    <pre>email_verified: {{ ud.email_verified }}</pre>
    <pre>exp: {{ ud.exp * 1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}</pre>



    
  </div>


<pre>{{ userData$ | async | json }}</pre>
<pre>{{ configuration$ | async | json}}</pre>
